:root {
	--content-max-width: 1400px;
	--nav-bar-width: 220px;
	--toc-width: 200px;
	--layout-padding: 20px;
	--content-padding: 40px;
	--top-bar-height: 60px;
	--ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
	--monospace: "JetBrains Mono Variable", monospace;
	--r-code-font: "JetBrains Mono Variable", monospace;

	/* Dark theme by default */
	--layout-background-color: #1b1b1f;
	--darker-background-color: #161618;
	--code-background-color: #2b2b31;
	--blockquote-background-color: rgba(153, 133, 254, 0.1);
	--blockquote-border-color: hsl(247, 26%, 25%);
	--blockquote-color: hsl(236 60% 93% / 1);
	--text-color-base: #f7fafc;
	--text-color-light: #9ca6b3;
	--dimmed-text-color: #8e989e;
	--table-even-lines-background-color: #232329;
	--pre-background-color: var(--darker-background-color);
	--pre-color: #d2d7e0;
	--astro-code-background: var(--darker-background-color);
	--astro-code-foreground: var(--pre-color);
	--highlight-color: #9985fe;
	--slides-controls: #eeaa6f;
	/* ----------------------- */

	--search-background-color: var(--layout-background-color);
	--search-input-border-color: #88888812;
	--link-color: var(--highlight-color);
	--separator-color: #8883;
	--table-border-color: var(--separator-color);
	--code-color: var(--blockquote-color);
	--table-odd-lines-background-color: var(--layout-background-color);
}

.theme--light {
	--layout-background-color: #ffffff;
	--darker-background-color: #f9f9fa;
	--code-background-color: #f6f6f7;
	--blockquote-background-color: rgba(169, 156, 231, 0.12);
	--blockquote-border-color: rgba(169, 156, 231, 0.05);
	--blockquote-color: hsl(247 41% 50% / 1);
	--text-color-base: #37342f;
	--text-color-light: #a3a29f;
	--dimmed-text-color: #625f57;
	--table-even-lines-background-color: #fafafa;
	--pre-background-color: #f6f6f7;
	--pre-color: #393a34;
	--highlight-color: #564ce0;
	--slides-controls: #ea9448;
}
