---
import '../style/index.scss';
import {SEO} from "astro-seo";
const {title, description, isNotFoundPage} = Astro.props
import { site } from "virtual:compiiile"
const titleTemplate = site.title ? `%s | ${ site.title }` : ''
const siteUrl = site.siteUrl || Astro.url.origin
---

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/favicon.png"/>
    {isNotFoundPage ? '' :
    <SEO title={title}
         description={description}
         titleTemplate={titleTemplate}
         openGraph={{
             basic: {
                 title: title,
                 type: "website",
                 description: description,
                 image: `${ siteUrl }/favicon.png`,
             }
         }}
    />}
</head>
<body>
<slot></slot>
</body>
</html>
