@font-face {
    font-family: 'archivo';
    font-weight: normal;
    src: url('/fonts/Archivo-VariableFont_wdth,wght.ttf') format('truetype');
}

@font-face {
    font-family: 'DM Sans';
    font-weight: normal;
    font-style: normal;
    src: url('/fonts/DMSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'DM Sans';
    font-weight: normal;
    font-style: italic;
    src: url('/fonts/DMSans-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'DM Sans';
    font-weight: bold;
    font-style: normal;
    src: url('/fonts/DMSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'DM Sans';
    font-weight: bold;
    font-style: italic;
    src: url('/fonts/DMSans-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'jetbrains';
    font-weight: normal;
    src: url('/fonts/JetBrainsMono[wght].ttf') format('truetype');
}

html {
    font-family: 'DM Sans', sans-serif;
}
