/* HLJS CUSTOM THEME */
.hljs-comment,
.hljs-quote {
    color: #8999a9;
}

.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
    color: #ec6875;
}

.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
    color: #ffb36f;
}

.hljs-attribute {
    color: #ebcb8b;
}

.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
    color: #9bea93; //#7fcf77;
}

.hljs-title,
.hljs-section {
    color: #8fa1b3;
}

.hljs-keyword,
.hljs-selector-tag {
    color: #9a84ff;
}

.hljs {
    display: block;
    overflow-x: auto;
    background: var(--code-background-color);
    border: solid 1px var(--code-background-color); /* same color, useful when printing without background graphics */
    color: var(--code-color);
    padding: 20px;
    border-radius: 8px;
    line-height: 1.3rem;
    position: relative;
    font-family: "jetbrains", monospace;

    code {
        font-family: "jetbrains", monospace;
    }
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}
