.flex {
  display: flex;
}

@media screen and (max-width: 1200px) {
  :root {
    --toc-width: 0;
  }

  .toc {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  :root {
    --nav-bar-width: 0;
  }

  nav {
    width: 0;
    left: -40px;
  }

  html {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 650px) {
  :root {
    --content-padding: 15px;
  }

  nav {
    padding-left: 15px !important;
  }

  .header-anchor {
    font-size: 14px;
    margin-top: 5px;
  }
}

