:root {
    --content-max-width: 1400px;
    --nav-bar-width: 220px;
    --toc-width: 200px;
    --content-padding: 40px;
    --top-bar-height: 60px;

    /* Dark theme by default */
    --text-color-base: #f7fafc;
    --text-color-light: #9ca6b3;
    --navbar-background-color: #1b2023;
    --layout-background-color: #1f2327;
    --separator-color: #333b42;
    --nav-list-item-color: #8e989e;
    --code-background-color: #2b303b;
    --code-color: #d2d7e0;
    --blockquote-background-color: #171a1d;
    --blockquote-border-color: #313844;
    --link-color: #9985fe;
    --table-border-color: var(--separator-color);
    --table-odd-lines-background-color: var(--code-background-color);
    --table-even-lines-background-color: #262a33;
}

.theme--light {
    --text-color-base: #37342F;
    --text-color-light: #A3A29F;
    --navbar-background-color: #F8F8F8;
    --layout-background-color: #FFFFFF;
    --separator-color: #e2e2e2;
    --nav-list-item-color: #625F57;
    --code-background-color: #eeeeee;
    --blockquote-background-color: #f7f6f6;
    --blockquote-border-color: #dfe2e5;
    --link-color: #564ce0;
    --table-border-color: #cccccc;
    --table-odd-lines-background-color: white;
    --table-even-lines-background-color: #f8f8f8;
}
